*{
    padding: 0px;
    margin: 0px;
}
.navbar1{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: white;
    background-color: black;

}
ul a{
    text-decoration: none;
}
.call{
    display: flex;
    align-items: center;
    font-size: smaller;

}
.call img{
    width: 20px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(188, 205, 234);
}
.first{
    display: flex;
    gap: 40px;
    list-style: none;
    padding-right: 50px;
}
.home{
    display: flex;
    background-color: skyblue;
    position: absolute;
}
.one{
    /* padding: 200px; */
    padding-left: 120px;
    padding-top: 100px;
}
.one h2{
    color: rgb(54, 54, 249);  
}
.one p{
    margin-top: 20px;
    margin-bottom: 20px;
}
.one button{
    background-color: rgb(255, 92, 32);
    color: white;
    padding: 5px;
    font-size: 8PX;
    width: 100px;
    border: none;
    border-radius: 4px;

}
.homimg img{
    width: 380px;
    height: 500px;
    padding-right: 180px;
}
.homimg2{
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    margin-top: 430px;
    margin-bottom: 20px;
    
}
.Repair{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
   border: rgb(230, 228, 228),solid;
    width: 250px;
    padding: 30px;
}
.Repair1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 92, 32);
    border: none;
    width: 250px;
    padding: 30px;
}
.Repair1 img{
    width: 60px;
    padding-bottom: 10px;
}

.Repair img{
    width: 60px;
    padding-bottom: 10px;
}
.Repair p{
    font-size: 12px;
}
.repair1 p{
    font-size: 10px;
}

/* ABOUT PAGE{ */ 

    .about{
        display: flex;
        padding: 100px;
        align-items: center;
    }
    .aboutus{
        padding: 50px;
    }
    .aboutus h3{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .aboutus p{
      padding-top: 10px;
      padding-bottom: 25px;
    }
    .aboutus button{
        background-color: rgb(54, 54, 249);
        color: white;
        font-size: 8px;
        padding: 6px;
        width: 100px;
        border: white;
    }
    .imge img{
        width: 500px;
    }
    /* SERVICE{} */

 .service{
    display: flex;
    background-color: skyblue;
}
.service1{
  padding-left: 50px;
  padding: 66px;
}
.service1 img{
    width: 420px;
    padding-left: 80px;
    /* padding: 80px; */
}
.service2{
    padding-top: 200px;
    padding-right: 100px;
}
.service2 p{
    padding-top: 20px;
    padding-bottom: 30px;
}
.service2 h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:blue;
}
.service2 button{
    background-color: rgb(255, 92, 32);
    color: white;
    font-size: 9px;
    width: 87px;
    padding: 8px;
    border: white;
}
.allservices{
    display: flex;
    flex-direction: column;
    /* justify-items: center; */
    align-items: center;
}
 .allservices h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     padding-top: 60px;
     padding-bottom: 40px;
 }
.ourservice{
    display: flex;
    gap: 20px;
    width: 1000px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.our img{
    width: 40px;
}
.our {
    border: rgb(230, 228, 228),solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.our h4{
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.what{
    display: flex;
    gap: 20px;
}
.say{
    border: rgb(230, 228, 228),solid;
    width: 400px;
    padding: 10px;
}
.say img{
    border-radius: 100px;
    width: 80px;
}
.me{
    display: flex;
    align-items: center;
}
.me img{
    padding: 10px;
}
.star img{
    width: 14px;
    padding: 0;
}
.mark{
    padding-left: 200px;
    font-size: 40px;
}
.button{
    margin-top: 30px;
    background-color: rgb(54, 54, 249);
    color: white;
    font-size: 8px;
    padding: 6px;
    width: 100px;
    border: white;
}
.twobutton{
    gap: 20px;
    display: flex;
    margin-bottom: 40px;

}
.ones{
    justify-content: space-around;
    margin-top: 20px;
    background-color: rgb(54, 54, 249);
    color: white;
    font-size: 18px;
    padding: 5px;
    width: 30px;
    border: white
}


   /* CONTACTUS */
.glass{
    padding: 40px;
    padding-left: 230px;
}
.contact{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.input{
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 10px;
}
.input input{
    padding: 10px;
    border: rgb(245, 241, 241),solid;
}
.input2 input{
    width:355px ;
    padding: 20px;
    height: 60px;
}
.phone{
    margin-left: 230px;
    margin-top: 10px;
    padding: 5px;
    font-size: 10px;
    width: 100px;
    background-color: rgb(17, 53, 143);
        color: white;
        border: white;
}
.last{
    background-color: rgb(6, 6, 57);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 5px;
}
.last h3{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* padding-right: 250px; */
    padding: 20px;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;
}
hr{
    /* height: 2px; */
    background-color:white;
    width: 200px;
    margin: 0;
}
.ico{
    display: flex;
    align-items: center;
}
.ico img{
    background-color: rgb(17, 53, 143);
    width: 50px;
    border-radius: 100px;
}
.ps{
    display: flex;
    color: white;
    /* gap: 50px; */
}
.ps p{
    padding-right: 130px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}

.love hr{
    width: 1000px;
}
.me{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 10px;
    padding: 10px;

}